notes/.obsidian/
notes/.obsidian/app.json
notes/.obsidian/appearance.json
notes/.obsidian/core-plugins-migration.json
notes/.obsidian/core-plugins.json
notes/.obsidian/hotkeys.json
notes/.obsidian/workspace.json
.DS_Store
frontend/src/conifig.json
server/articles/
server/env/
# server/config.json
.vscode/settings.json
server/__pycache__/server.cpython-38.pyc
