notes/.obsidian/
notes/.obsidian/app.json
notes/.obsidian/appearance.json
notes/.obsidian/core-plugins-migration.json
notes/.obsidian/core-plugins.json
notes/.obsidian/hotkeys.json
notes/.obsidian/workspace.json
.DS_Store
frontend/src/conifig.json
server/articles/
server/env/
server/config.json
.vscode/settings.json
server/__pycache__/server.cpython-38.pyc
server/model/utils/config.json
*.pyc
preprocess/embedding/embeddings.csv
preprocess/embedding/embeddings.json
preprocess/embedding/query_embed.json
preprocess/embedding/ir/
preprocess/embedding/query_doc_similarity.json
run.sh
config.txt
server/build/
server/venv/